In [1]:
from pathlib import Path
import sys

PROJECT_ROOT = Path.cwd().parents[0]  
sys.path.append(str(PROJECT_ROOT / "src"))

from Data_Preparation import build_base_dataset

merged_dedup = build_base_dataset()
merged_dedup.head()

[leakage] overlaps (canonical): 646
[final] rows: 19617

,id,SMILES,Tm,Group 1,Group 2,Group 3,Group 4,Group 5,Group 6,Group 7,...,Group 415,Group 416,Group 417,Group 418,Group 419,Group 420,Group 421,Group 422,Group 423,Group 424
0,2175,FC1=C(F)C(F)(F)C1(F)F,213.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1222,c1ccc2c(c1)ccc1[nH]c3ccccc3c12,407.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2994,CCn1c(C)nc2ccccc21,324.15,2.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1704,CC#CC(=O)O,351.15,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2526,CCCCC(C)S,126.15,2.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0